<div class="container">
	<h1>Signup</h1>
</div>

<div class="form-group">
    <label for="newFirstName">Please enter your First Name</label>
    <input type="text" class="form-control" id="newFirstName" aria-describedby="toAddressHelp" [(ngModel)]="newAccount.newFirstName">
    <small id="toAddressHelp" class="form-text text-muted">
    	(Ignore this message)
    </small>
</div>

<div class="form-group">
    <label for="newLastName">Please enter your Last Name</label>
    <input type="text" class="form-control" id="newLastName" aria-describedby="toAddressHelp" [(ngModel)]="newAccount.newLastName">
    <small id="toAddressHelp" class="form-text text-muted">
    	(Ignore this message)
    </small>
</div>


<div class="form-group">
    <label for="newUsername">Please enter your username</label>
    <input type="text" class="form-control" id="newUsername" aria-describedby="toAddressHelp" [(ngModel)]="newAccount.newUsername">
    <small id="toAddressHelp" class="form-text text-muted">
    	(Ignore this message)
    </small>
</div>

<div class="form-group">
    <label for="newPassword">Please enter your password</label>
    <input type="text" class="form-control" id="newPassword" aria-describedby="toAddressHelp" [(ngModel)]="newAccount.newPassword">
    <small id="toAddressHelp" class="form-text text-muted">
    	(Ignore this message)
    </small>
</div>

<button (click)="addAccount()" type="submit" class="btn btn-primary">Create Account</button>

<div></div>

<div>{{vary[0].firstName}}</div>
<div>{{vary[0].lastName}}</div>
<div>{{vary[0].walletKeys[0].publicKey}}</div>
